@media screen and (max-width: 1070px) {
    .form {
        position: initial;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 350px;
    }
}

@media screen and (max-width: 900px) {
    .form {
        position: initial;
        align-items: center;
        justify-content: center;
        padding-top: 350px;
    }

    body {
        background-image: url(../img/bg_petit.png);
        background-size: cover;
        background-position: center;

    }

    h1 {
        font-size: 4rem;
    }

    .error {
        margin-top: 10px;
        width: 100%;
    }
}

