@media screen and (max-width: 1070px) {
    .form {
        position: initial;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 350px;
    }
}

@media screen and (max-width: 900px) {
    .form {
        position: initial;
        align-items: center;
        justify-content: center;
        padding-top: 350px;
    }

    body {
        background-image: url(../img/bg_petit.jpg);
        background-size: cover;
        background-position: center;

    }

    h1 {
        font-size: 4rem;
    }

    .error {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    .form {
        margin-left: 10px;
        margin-right: 10px;
    }

    .form label {
        font-size: 1.2rem;
    }

    .form input {
        backdrop-filter: none;
        background-color: #333;

    }
}
