{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Séries</title>
  <link rel="stylesheet" href="{% static 'series/style.css' %}">
</head>
<body>
  <h1>Page d'accueil</h1>

<!--  <form class="login-form" method="post">-->
<!--      {% csrf_token%}-->
<!--      <div class="username-input" data-validate="username is required">-->
<!--          <input class="username-input" type="text" placeholder="Username" name="username" required>-->
<!--      </div>-->
<!--      <div class="password-input" data-validate="Password is required">-->
<!--          <input class="password-input" type="password" placeholder="Password" name="password" required>-->
<!--      </div>-->
<!--      <div class="sign-in">-->
<!--          <button class="login-btn" type="submit">Connexion</button>-->
<!--      </div>-->
<!--  </form>-->

  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Connexion">
  </form>







</body>
</html>