{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Page de Connexion au suivi des séries">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Séries</title>
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/responsive.css' %}">

</head>
<body>
  <div class="form">
    <h1>Connect to Hell</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      {% for message in messages %}
      <p class="error">{{ message }}</p>  
      {% endfor %}
      <input class="btn" type="submit" value="Connexion">
    </form>
  </div>
</body>
</html>
